/*

* {
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

p {
    color: #555;
}

#primero p {
    color: #336699;
}

#primero em {
    background: #FFFFCC;
    padding: .1em;
}

em.especial {
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}

.normal span {
    font-weight: bold;
}

*/

/* COLORES */

h1 {
    color: teal;
}

strong {
    color: red;
}

span.destacado {
    color: orange;
}

#subtitulo {
    color: blue;
}

a {
    color: red;
}

a em {
    color: blue;
}

span[class="especial"] {
    color: purple;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

caption {
    color: blue;
}

th {
    color: red;
}

th[class="especial"] {
    color: orange;
}

td {
    color: green;
}

td strong {
    color: orange;
}

#adicional {
    color: olive;
}

span[id="especial"] {
    color: fuchsia;
}

div p a {
    color: green;
}